@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%, 1;
    --foreground: 222.2 84% 4.9%;

    --background-muted: 0 0% 97%;

    --border-radius-lg: 32px;

    --card: var(--background-muted);
    --card-padding: 16px;
    --card-gap: 4px;
    --card-border-radius: 32px;

    --popover: 0 0% 100%;
    --popover-foreground: var(--primary);

    --primary: 257, 25%, 45%;
    --primary-foreground: 0 0% 100%;

    --secondary: 261 100% 93%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 257 50% 70%;
    --muted-foreground: 257 50% 70%;

    --accent: 257 50% 90%;
    --accent-foreground: 257 60% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --border-color: 214.3 31.8% 91.4%;

    --radius: 0.5rem;

    --sidebar-background: var(--background-muted);

    --sidebar-foreground: var(--primary);

    --sidebar-primary: var(--primary);

    --sidebar-primary-foreground: var(--primary-foreground);

    --sidebar-accent: var(--primary);

    --sidebar-accent-foreground: var(--primary-foreground);

    --sidebar-border: var(--primary);

    --sidebar-ring: var(--primary);

    --text-color-dark: var(--primary);
    --text-color-light: var(--primary-foreground);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card-padding: 16px;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 257, 25%, 45%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: var(--primary);
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: var(--primary);
    --sidebar-ring: var(--primary);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--border-radius-lg);
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
